/* make the customizations */
$theme-colors: ("info": teal,
    "danger": tomato);

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';


.react-datepicker-wrapper {
    display: block;
    padding: 0;
    border: 0;
}

.modal-loader {
    .modal-content {
        background: transparent;
        color: #fff;
        border: none;

        .modal-body {
            text-align: center;

            p {
                margin-left: 10px;
            }
        }
    }
}